<header class="header">
    <div class="container">
        <nav class="navbar">
            <a href="#" class="logo">
                <img src="./assets/images/marca.png" alt="VAPNET" class="logo-img">
            </a>
            
            <div class="menu-toggle">
                <span></span>
                <span></span>
                <span></span>
            </div>
            
            <ul class="nav-links">
                <li>
                    <a href="#home" class="nav-link">
                        <span class="text">Inicio</span>
                        <span class="line -right"></span>
                        <span class="line -top"></span>
                        <span class="line -left"></span>
                        <span class="line -bottom"></span>
                    </a>
                <li>
                    <a href="#projects" class="nav-link">
                        <span class="text">Proyectos</span>
                        <span class="line -right"></span>
                        <span class="line -top"></span>
                        <span class="line -left"></span>
                        <span class="line -bottom"></span>
                    </a>


                <li>
                    <a href="#skills" class="nav-link">
                        <span class="text">skills</span>
                        <span class="line -right"></span>
                        <span class="line -top"></span>
                        <span class="line -left"></span>
                        <span class="line -bottom"></span>
                    </a>
                    
                <li>
                    <a href="#contact" class="nav-link">
                        <span class="text">Contactar</span>
                        <span class="line -right"></span>
                        <span class="line -top"></span>
                        <span class="line -left"></span>
                        <span class="line -bottom"></span>
                    </a>
                    
     
                <li>
                    <a href="../assets/pdf/CV_Desarrollador_Victor_Pabon.pdf" download class="nav-link">
                        <span class="text">Descargar cv</span>
                        <span class="line -right"></span>
                        <span class="line -top"></span>
                        <span class="line -left"></span>
                        <span class="line -bottom"></span>
                    </a>
                        
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>
