<header class="header">
    <div class="container">
        <nav class="navbar">
            <a href="#" class="logo">
                <img src="./assets/images/marca.png" alt="VAPNET" class="logo-img">
            </a>
            
            <div class="menu-toggle">
                <span></span>
                <span></span>
                <span></span>
            </div>
            
            <ul class="nav-links">
                <li><a href="#home" class="nav-link">Inicio</a></li>
                <li><a href="#projects" class="nav-link">Proyectos</a></li>
                <li><a href="#skills" class="nav-link">Habilidades</a></li>
                <li>
                    <a href="./assets/pdf/CV_Victor_Pabon.pdf" download class="btn btn-outline">
                        Descargar CV
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>