<section id="home" class="hero">
    <div class="container hero-flex">
        <div class="hero-content">
            <h1 class="hero-title animate animated">
                Hola, soy 
                    <span class="text-primary" id="typed-name">Victor Pabón</span>
            </h1>            
            <h2 class="hero-subtitle animate animated delay-1">Tecnólogo en Telecomunicaciones & Desarrollador</h2>
            <p class="hero-text animate animated delay-2">
                Especialista en redes, seguridad informática y desarrollo de software. Me apasiona crear soluciones tecnológicas innovadoras y optimizar sistemas para un rendimiento eficiente.
            </p>
            
            <ul class="hero-info animate animated delay-3">
                <li><strong>Experiencia:</strong> 3 años en telecomunicaciones y desarrollo web</li>
                <li><strong>Habilidades:</strong> Python, C#, HTML, CSS, JavaScript, Seguridad de Redes</li>
                <li><strong>Proyectos Destacados:</strong> Automatización, Integración de Sistemas, Gestión de Registros</li>
            </ul>
            
            <div class="hero-buttons animate animated delay-4">
                <a href="#projects" class="btn btn-primary">
                    Ver mis proyectos
                </a>
                <a href="#contact" class="btn btn-outline">
                    Contáctame
                </a>
            </div>
        </div>
        
        <div class="hero-image animate animated delay-2">
            <div class="image-wrapper">
                <img src="./assets/images/photo.jpeg" alt="Victor Pabón">
                <div class="tech-icons">
                    <i class="fab fa-cisco"></i>
                    <i class="fab fa-python"></i>
                    <i class="fas fa-server"></i>
                    <i class="fas fa-shield-alt"></i>
                    <i class="fab fa-js"></i>
                    <i class="fa-brands fa-envira"></i> <!-- para MongoDB -->
                    <i class="fab fa-linux"></i>
                    <i class="fab fa-html5"></i>
                    <i class="fab fa-css3-alt"></i>
                </div>
            </div>
        </div>
    </div>
</section>
